* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/*starting of  section-1 */

.topbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  color: white;
}

.nav {
  display: flex;
  justify-content: center;
  list-style: none;
}

a {
  font-weight: bold;
  margin: 15px;
  color: #ddd;
  text-decoration: none;
  text-transform: uppercase;
  transition:0.5s;
}

a:hover {
  color: darkred;
}

/* explore yourself  wala is under span tag so i needed to use it in css also */
.intro {
  color: white;
  font-weight: bold;
  font-size: 39px;
}

span {
  position: absolute;
  right: 508px;
  bottom: 250px;
}

section {
  width: 100%;
  display: table;
  margin: 0;
  max-width: 100%;
  padding: 0.2%;
}
/* animation part */
.scroll-down {
  height: 110px;
  width: 80px;
  border: 2px white solid;
  position: absolute;
  left: 48%;
  bottom: 11%;
  border-radius: 50px;
  cursor: pointer;
}

.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  border: 2px white solid;
  height: 15px;
  width: 15px;
  transform: translate(-50%, -100%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}

.scroll-down::after {
  top: 30%;
  animation-delay: 0.3s;
}

@keyframes scroll-down {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    top: 90%;
  }
}

/* section-2 */

h1 {
  font-size: 2.1rem;
  line-height: 1.4;
  letter-spacing: 0.2em;
  text-align: center;
  position: relative;
}

.slider {
  max-width: 900px;
  width: 100%;
  position: relative;
  margin: auto;
  margin: 20px 0px;
}

.slider img {
  height: 600px;
  object-fit: cover;
}

.slider .prev,
.slider .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.slider .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.slider .prev:hover,
.slider .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.slider .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.slider .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.slider .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.slider .active,
.slider .dot:hover {
  background-color: #717171;
}

.slider .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 300px) {
  .slider .prev,
  .slider .next,
  .slider .text {
    font-size: 11px;
  }
}

#sec-3 h2 {
  text-align: center;
  font-size: 40px;
  cursor: pointer;
}

#sec-3 h2:hover {
  color: darkred;
}

#sec-3 .about {
  border: 2px white groove;
  border-radius: 10px;
  padding: 10px;
  line-height: 28px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  max-width: 800px;
  transitiom:0.5s
}

#sec-3 .about:hover {
  color: darkred;
}

#sec-3 .about p {
  max-width: 70%;
  text-align: center;
}

#sec-1 {
  min-height: 100vh;
  background-image: url(./assets/images/img1.jpg);
  color: white;
  background-size: 100%, 95%;
  background-repeat: no-repeat;
  position: relative;
}

#sec-2 {
  min-height: 100vh;
  background-color: rgba(27, 31, 34, 0.85);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

#sec-3 {
  min-height: 100vh;
  position: relative;
  background-color: slategrey;
  color: white;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* footer */

footer {
  background-color: #111;
  color: #fff;
  height: auto;
  width: 208.99vh;
  padding-top: 40px;
  overflow-y: hidden;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials a {
  text-decoration: none;
  color: white;
}

.socials a i {
  font-size: 2.2rem;
  transition: color 0.4 ease;
}

.socials a:hover i {
  color: aqua;
  trasform:scaleY(25%)
}

.footer-bottom {
  background: #000;
  width: 208.99vh;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
@media screen and (max-width: 1200px) {
  body {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .topbar a {
    float: none;
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .slider {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  div .scroll-down {
    border: white;
    position: relative;
    bottom: 20%;
    left: 30%;
  }
}

@media screen and (max-width: 1200px) {
  footer {
    width: 100%;
    justify-content: center;
    text-align: center;
    overflow: hidden;
  }
}

@media screen and (max-width: 1200px) {
  footer p {
    width: 100%;
    justify-content: left;
    text-align: left;
  }
}

@media screen and (max-width: 1200px) {
  #sec-1 {
    width: 100%;
    background-size: cover;
  }
}

@media screen and (max-width: 1200px) {
  .intro {
    position: absolute;
    bottom: 50%;
    right: 50%;
  }
}

@media screen and (max-width: 1200px) {
  span {
    position: absolute;
    bottom: 50%;
    right: 30%;
  }
}

@media screen and (max-width: 1200px) {
  .big {
    position: absolute;
    bottom: 0.7%;
    right: 50%;
  }
}

@media screen and (max-width: 600px) {
  #sec-3 .about p {
    max-width: 100%;
  }
}
